* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI';
 background: #e0f2fe; 
    color: #fff;
}

/* HEADER FIJO */
.header {
   background: #0284c7;
    text-align: center;
    padding: 20px;
}


.nav a {
    background: #0369a1;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
}
.nav a:hover {
    background: #22c55e;
    color: black;
}
/* HERO */
.hero {
    height: 90vh;
    background: url('../img/inicio1.jpg') center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-texto {
    background: rgba(0,0,0,0.5);
    padding: 20px;
    border-radius: 10px;
}

/* SECCIONES */
.seccion {
    padding: 60px 20px;
    display: flex;
    justify-content: center;
}

/* TARJETAS */
.card {
    background: white;
    color: #0c4a6e;
    padding: 20px;
    border-radius: 10px;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.grid img {
    width: 100%;
    border-radius: 10px;
    transition: 0.3s;
}

.grid img:hover {
    transform: scale(1.05);
}

/* GALERIA */
.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
    gap: 10px;
}

.galeria img {
    width: 100%;
    border-radius: 10px;
}

/* FORM */
input {
    padding: 10px;
    width: 100%;
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
   background: #ef4444;
    border: none;
}

/* FOOTER */
.footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}
/* IMAGENES DEL HERO */
.hero-imgs {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    justify-content: center;
}

.hero-imgs img {
    width: 200px;
    border-radius: 10px;
    transition: 0.3s;
}

.hero-imgs img:hover {
    transform: scale(1.05);
}
.header {
    background: #e2e8f0;
}

.header h1 {
    color: #0f172a;
    text-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
