
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* BODY */
body {
    font-family: 'Segoe UI', Arial, sans-serif;
    background: #f1f5f9; /* gris suave elegante */
    color: #0f172a;
}

/* HEADER */
.header {
    background: #0f172a; /* azul oscuro */
    color: white;
    text-align: center;
    padding: 20px;
}

/* MENU (BARRA) */
.nav {
    margin-top: 10px;
}

/* BOTONES DEL MENU */
.nav a {
    background: #2563eb; /* azul bonito */
    color: white;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 8px;
    text-decoration: none;
    display: inline-block;
    transition: 0.3s;
}

/* HOVER */
.nav a:hover {
    background: #1d4ed8;
    transform: translateY(-2px);
}

/* SECCIONES */
.seccion {
    padding: 40px;
    display: flex;
    justify-content: center;
}

/* TARJETAS */
.card {
    background: white;
    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* IMÁGENES */
.card img {
    width: 48%;
    margin: 1%;
    border-radius: 10px;
}

/* GALERIA */
.galeria img {
    width: 30%;
}

/* BOTONES GENERALES */
button {
    background: #2563eb;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1d4ed8;
}

/* FOOTER */
.footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
}
